extends ../template 

block content
    header.header-container 
        .header-content
            .header-bg
                img(src="assets/images/page_bg.jpg", alt="").header-bg__image
            .header-back-title
                +bg('blog_header' ,"", "common")
            .header-content__top.header-content__top_size1200
                ul.socials
                    li.socials__item: a.socials__link(href="https://vk.com/gkarine" target="_blank"): +icon('vk' ,"socials__icon_top", "socials")
                    li.socials__item: a.socials__link(href="https://github.com/Karine91" target="_blank"): +icon('github' ,"socials__icon_top", "socials")
                    li.socials__item: a.socials__link(href="#" target="_blank"): +icon('in' ,"socials__icon_top", "socials")   
                .hamburger-menu
                    a#menu-button(href="#")
                        <svg version="1.1" id="hamburger_menu" class="hamburger-menu-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="35px" viewBox="0 0 40 35" enable-background="new 0 0 40 35" xml:space="preserve">
                            <path fill="#FFFFFF" d="M40,2.5C40,3.881,38.881,5,37.5,5h-35C1.119,5,0,3.881,0,2.5l0,0C0,1.119,1.119,0,2.5,0h35 C38.881,0,40,1.119,40,2.5L40,2.5z"/>
                            <path fill="#FFFFFF" d="M40,17.5c0,1.381-1.119,2.5-2.5,2.5h-35C1.119,20,0,18.881,0,17.5l0,0C0,16.119,1.119,15,2.5,15h35 C38.881,15,40,16.119,40,17.5L40,17.5z"/>
                            <path fill="#FFFFFF" d="M40,32.5c0,1.381-1.119,2.5-2.5,2.5h-35C1.119,35,0,33.881,0,32.5l0,0C0,31.119,1.119,30,2.5,30h35	C38.881,30,40,31.119,40,32.5L40,32.5z"/>
                        </svg>           
            .hero
                .user
                    .user__picture
                        img(src="assets/images/ava.jpg").user__img
                    h1.heading-1.heding-1_white Блог
                    .user__describe.user__describe_white Статьи, которые я написала
            .header-content__bottom
                a#arrow-bottom(href="#"): +icon('arrow_down' ,"arrow bottom-arrow", "base")
    .triangle-wrapper
        .section-content
            .triangle-bg
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangle triangle_white">
                    <polygon class = "left" points="0,0   0,86   500.8,86   500.8,75.5"></polygon>
                    <polygon class = "right" points="1000,0   1000,86   500,86   500,75.5"></polygon>
                </svg>
    section.blog
        aside.sidebar
            a(href="#").sidebar__menu-btn
            ul.post-list
                each item, index in articles
                    if index==0
                        li.post-list__item.active: a(href="#post" +index).post-list__link #{item.name}
                    else
                        li.post-list__item: a(href="#post" +index).post-list__link #{item.name}    

        section.section-content.post-content
            each item, ind in articles 
                article.post(id="post" + ind)
                    - 
                        var date= new Date(item.date).toLocaleDateString('ru', { 
                                year: 'numeric', 
                                month: '2-digit', 
                                day: '2-digit'
                                })
                    .post__name #{item.name}
                    .post__date=date
                    .post__content 
                        p #{item.body}
                            
                    
block popup                                                                                                                                            